<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="style.css">
</head>
<body class="container-fluid">

<main>
  <div class="jumbotron cover2 cover">
    <center>
      <h1 class="font">Result</h1>
      <h3 class="font">Mosaic Created</h3>
    <!-- <p><img src="<%= data %>" alt="Mosaic" height="500px" width="500px"></p> -->
    <p><img src="<%= data %>" alt="Mosaic" height="550px"></p>
  </center>

  </div>
</main>

</body>

</html>